<div class="logo-main"></div>
<div class="container">
    <div class="jumbotron">
        <h1>Monty at your service.</h1>
        <p>Here are a few things I can do for you:</p>
        <ul>
            <li>
                <a href="#/environments/all" ng-class="{active: $uiRoute}">Monitor the status of our Bloom environments.</a>
            </li>
            <li>
                <a href="#/oe" ng-class="{active: $uiRoute}">Get information about our active Employers.</a>
            </li>
            <li>
                <a href="#/batch_jobs">Get the status of our latest batch jobs.</a>
            </li>
        </ul>
    </div>
</div>
<div ng-include src="'partials/footer.html'"></div>